<div class="cartItem">
    <div class="left">
        <img src="/images/---imageName---">
    </div>

    <div class="right">
        <!-- Price -->
        <div class="top flex">
            <p class="left">---productName---</p>
            <p class="right">$CB ---price---</p>
        </div>
        <!-- Remove button -->
        <div class="flex">
            <button class="button flex" onclick="removeProduct('---productName---')">
                <p class="left">Remove from cart</p>
                <p class="right">&rarrlp;</p>
            </button>
        </div>
    </div>
</div>