<div>
    <div>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
    </div>
    <div>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
    </div>
    <div>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
        <p>"© 2024 CappaMart"</p>
    </div>
</div>

<div>
    <h1>"© 2024 CappaMart"</h1>
</div>

<!--Cibblebot™ is the new food of the century featuring vital nutrients that can easily feed your code cruncher you keep in your basement living in a cage, only two the bite-sized rainbow coloured meal dots can easily rival the nourishment of a full pizza. Get yours today for only 2.50 a kilo.-->