<!-- Make change here -->
<div class="row">
    <a class="productDisplay" href="/products/image.html">
        <p>image</p>
        <img class="watermark" src="/images/image.png">
        <p>$CB 5.5</p>
    </a>

    <a class="productDisplay" href="/products/banan.html">
        <p>Banan</p>
        <img class="watermark" src="/images/Banan.jpg">
        <p>$CB 2.5</p>
    </a>

    <a class="productDisplay" href="/products/deshomanwhop.html">
        <p>deshomanwhop</p>
        <img class="watermark" src="/images/deshomanwhop.png">
        <p>$CB 250</p>
    </a>
</div>

<div class="row">
    <a class="productDisplay" href="/products/wiener-sandwich.html">
        <p>Wiener Sandwich</p>
        <img class="watermark" src="/images/Wiener Sandwich.jpg">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/scrom-doglin.html">
        <p>Scrom Doglin</p>
        <img class="watermark" src="/images/Scrom Doglin.jpg">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/niv-jumpscare.html">
        <p>Niv jumpscare</p>
        <img class="watermark" src="/images/Niv jumpscare.jpg">
        <p>$CB 250</p>
    </a>
</div>

<div class="row">
    <a class="productDisplay" href="/products/cibble-bot.html">
        <p>Cibble bot</p>
        <img class="watermark" src="/images/Cibblebot.png">
        <p>$CB 200</p>
    </a>

    <a class="productDisplay" href="/products/moo.html">
        <p>moo</p>
        <img class="watermark" src="/images/moo.png">
        <p>$CB 100</p>
    </a>

    <a class="productDisplay" href="/products/buke.html">
        <p>buke</p>
        <img class="watermark" src="/images/buke.jpg">
        <p>$CB 250</p>
    </a>
</div>

<div class="row">
    <a class="productDisplay" href="/products/edimflomaexpokis.html">
        <p>edimflomaexpokis</p>
        <img class="watermark" src="/images/edimflomaexpokis.png">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/niv.html">
        <p>Niv</p>
        <img class="watermark" src="/images/Niv.jpg">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/thom.html">
        <p>Thom</p>
        <img class="watermark" src="/images/Thom.jpg">
        <p>$CB 250</p>
    </a>
</div>

<div class="row">
    <a class="productDisplay" href="/products/john-mugshot.html">
        <p>John Mugshot</p>
        <img class="watermark" src="/images/John Mugshot.jpg">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/uhleamaekluwpole.html">
        <p>uhleamaekluwpole</p>
        <img class="watermark" src="/images/uhleamaekluwpole.png">
        <p>$CB 250</p>
    </a>

    <a class="productDisplay" href="/products/casper-walk.html">
        <p>Casper walk</p>
        <img class="watermark" src="/images/Casper walk.jpg">
        <p>$CB 250</p>
    </a>
</div>

