    <a class="productDisplay" href="/products/deshomanwhop.html">
        <p>deshomanwhop</p>
        <div class="watermark">
            <img src="/images/deshomanwhop.png">
        </div>
        <p>$CB 250</p>
    </a>
    <a class="productDisplay" href="/products/thom.html">
        <p>Thom</p>
        <div class="watermark">
            <img src="/images/Thom.jpg">
        </div>
        <p>$CB 250</p>
    </a>
    <a class="productDisplay" href="/products/casper-walk.html">
        <p>Casper walk</p>
        <div class="watermark">
            <img src="/images/Casper walk.jpg">
        </div>
        <p>$CB 250</p>
    </a>
