    <a class="productDisplay" href="/products/wiener-sandwich.html">
        <p>Wiener Sandwich</p>
        <div class="watermark">
            <img src="/images/Wiener Sandwich.jpg">
        </div>
        <p>$CB 250</p>
    </a>
    <a class="productDisplay" href="/products/niv-jumpscare.html">
        <p>Niv jumpscare</p>
        <div class="watermark">
            <img src="/images/Niv jumpscare.jpg">
        </div>
        <p>$CB 250</p>
    </a>
    <a class="productDisplay" href="/products/edimflomaexpokis.html">
        <p>edimflomaexpokis</p>
        <div class="watermark">
            <img src="/images/edimflomaexpokis.png">
        </div>
        <p>$CB 250</p>
    </a>
